*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #002339;
    color: #fff;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 600px;
}
@media screen and (max-width:600px) {
    .container{
        position: absolute;
        left: 50%;
        top: 50%;
        margin: 0;
        transform: translate(-50%,-50%);
        /* margin: 30% 5%; */
        max-width: 100%;
    }
}
.container .display{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 8px;
}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
.container .display input{
    border: none;
    outline: none;
    font-size: 20px;
}
.container .display img{
    width: 30px;
    cursor: pointer;
}
.container button{
    border: 0;
    outline: 0;
    background-color: #019f55;
    color: white;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    border-radius: 7px;
    cursor: pointer;
}
.container button img{
    width: 29px;
    margin-right: 10px;
}